export GOOGLE_APPLICATION_CREDENTIALS="${HOME}/.credentials/scarab.json"
export SCARAB_PROJECT=network-host
export SCARAB_REGION=us-west1
export SCARAB_TUNNEL=tun1
export SCARAB_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
export SCARAB_SECRETHASH="APDi7EFuaXhhYz9foRL1C1IZei-z"
